@tailwind base;
@tailwind components;
@tailwind utilities;
.gradient {
  background-color: #d9edff;
  background-image: radial-gradient(
      at 47% 3%,
      #6f8fab 0,
      transparent 89%
    ),
    radial-gradient(at 82% 65%, #a5fecb 0, transparent 85%);
}
.gradient2 {
  background-color: #d9fffac2;
  background-image: radial-gradient(
      at 47% 3%,
      #9187a3c9 0,
      transparent 89%
    ),
    radial-gradient(at 82% 65%, #a5fecb 0, transparent 85%);
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 10% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.b23 {
  background: #ff5151;
  color: whitesmoke;
}
.b23:hover {
  background: hsl(9, 93%, 56%);
  color: white;
}
h1.text {
  font-size: 2em;
  color: #2b2b2b;
  text-align: center;
  padding-left: 4px;
}

@keyframes greenPulse {
  from {
    -webkit-box-shadow: 2px 0px 10px #fb4b4b;
  }
  50% {
    -webkit-box-shadow: 2px 0px 10px #e33bb880;
  }
  to {
    -webkit-box-shadow: 2px 0px 15px #db0004;
  }
}

.button {
  background: rgba(140, 143, 119, 0.753);
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
}

.button:hover {
  animation: pulsate 1s ease-in-out;
}
@keyframes pulsate {
  0% {
    box-shadow: 0 0 5px #5ddcff, 0 0 10px #843eec;
  }
}

.loader2 {
  border: 16px solid #1e1e1c;
  border-top: 16px solid #ae9f48;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
  box-shadow: 0px 0px 15px #ae9f48;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    background-color: #1e1e1c;
  }
  100% {
    transform: rotate(360deg);
  }
}

.con {
  display: grid;
  place-items: center;
  position: relative;
  height: 550px;
  width: 900px;
  background: slate;
  border-radius: 10px;
  overflow: hidden;
  filter: blur 15px;
}
.con::after {
  position: absolute;
  content: "";
  top: 150px;
  left: 50px;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  transform: scale(0.9) translateZ(0);
  background-size: 200%, 200%;
  background: linear-gradient(
    to left,
    #8bb1ee,
    #a3f5bb,
    #ff66bf,
    #fffcb3,
    #ff5770,
    #d9e7db,
    #8f8f8f,
    #3de1b8,
    #ff6770
  );
  animation: animateGlow 1s linear infinite;
}
@keyframes animateGlow {
  0% {
    background-position: 0%, 50%;
  }
  100% {
    background-position: 200%, 50%;
  }
}
.con span {
  text-shadow: red -2px 0, cyan 2px 0;
}

.shadowBtn {
  border: 2px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  cursor: pointer;
}
.shadowBtn:hover {
  background-color: white;
  color: black;
  transition: 1s ease;
}
.shadowBtn::after {
  content: "";
  position: absolute;
  left: 0;
  top: 15px;
  background: transparent;
  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(8px);
  transition: 1s ease;
}

.body4 {
  height: 100%;
}


.error {
  text-align: center;
  font-family: "Gilda Display", serif;
  font-size: 115px;
  font-style: italic;
  text-align: center;
  line-height: 60px;
  animation: noise 2s linear infinite;
  overflow: default;
}

.error:after {
  content: "404";
  font-family: "Gilda Display", serif;
  font-size: 125px;
  font-style: italic;
  text-align: center;
  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: blue;
  animation: noise-1 0.2s linear infinite;
}

.info {
  text-align: center;
  font-family: "Gilda Display", serif;
  filter: drop-shadow(8px 8px 4px #f00606);
  font-size: 25px;
  font-style: italic;
  text-align: center;
  color: #3eeb13d5;
  line-height: 60px;
}

.error:before {
  content: "404";
  font-family: "Gilda Display", serif;
  font-size: 125px;
  font-style: italic;
  text-align: center;

  line-height: 60px;
  margin: auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  color: red;
  animation: noise-2 0.2s linear infinite;
}

@keyframes noise-1 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: -6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: 2px;
  }
}

@keyframes noise-2 {
  0%,
  20%,
  40%,
  60%,
  70%,
  90% {
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.5;
    left: 6px;
  }
  80% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
    left: -2px;
  }
}

@keyframes noise {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    transform: scaleY(1.7);
  }
  43% {
    opacity: 1;
    transform: scaleX(1.5);
  }
}

@keyframes noise-3 {
  0%,
  3%,
  5%,
  42%,
  44%,
  100% {
    opacity: 1;
    transform: scaleY(1);
  }
  4.3% {
    opacity: 1;
    transform: scaleY(4);
  }
  43% {
    opacity: 1;
    transform: scaleX(10) rotate(60deg);
  }
}

.search-input {
  outline: none;
  filter: drop-shadow(4px 4px 2px #4f4f4f);
  border: none;
  background: #d9d9d9;
  width: 0;
  padding: 0;
  color: #000000;
  float: left;
  font-size: 20px;
  transition: 0.3s;
  border-radius: 10px;
  line-height: 40px;
}
.search-input::placeholder {
  color: #8f8f8f;
}
.search-btn {
  color: #fff;
  filter: drop-shadow(8px 8px 4px #4f4f4f);
  float: right;
  width: 50px;
  height: 40px;
  border-radius: 10px;
  background: #545454;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.3s;
}
.search-input:focus,
.search-input:not(:placeholder-shown) {
  width: 24px;
  padding: 0 6px;
}
.search-box:hover > .search-input {
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn,
.search-input:focus + .search-btn,
.search-input:not(:placeholder-shown) + .search-btn {
  background: #fff;
  color: #5e14cc;
}

.span {
  filter: drop-shadow(3px 3px 1px #ff0000);
}

/*mian footer */
.main-footer{
  position: relative;
  background: rgba(15,20,24,255);
}
.btmfooter{
  background: rgba(15,20,24,255);
}

.footer-content{
  position: relative;
  padding: 85px 0px 80px 0px;
}
.footer-content:before{
  position: absolute;
  content: '';
  background: url(https://images.wallpaperscraft.com/image/single/bonfire_fire_flame_135426_3840x2400.jpg);
  width: 744px;
  height: 365px;
  top: 50px;
  right: 0px;
  background-size: cover;
  background-repeat: no-repeat;
  animation-name: float-bob;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: float-bob;
  -webkit-animation-duration: 30s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: float-bob;
  -moz-animation-duration: 30s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: float-bob;
  -ms-animation-duration: 30s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -o-animation-name: float-bob;
  -o-animation-duration: 30s;
  -o-animation-iteration-count: infinite;
  -o-animation-timing-function: linear;
}
.footer-content .logo-widget{
  position: relative;
  margin-top: -40px;
}
.footer-content .logo-widget .footer-social li{
  position: relative;
  display: inline-block;
  margin-right: 9px;
}
.footer-content .logo-widget .footer-social li:last-child{
  margin-right: 0px;
}
.footer-content .logo-widget .footer-social li a{
  position: relative;
  display: inline-block;
  width: 42px;
  height: 42px;
  line-height: 42px;
  background: #2e3138;
  color: #9ea0a9;
  text-align: center;
  border-radius: 50%;
}
.footer-content .logo-widget .footer-social li a:hover{
  color: #ffffff;
  background: #ff5e14;
}
.footer-content .logo-widget .logo-box{
  margin-bottom: 50px;
}
.footer-content .logo-widget .text p{
  color: #9ea0a9;
  margin-bottom: 32px;
}
.footer-content .footer-title{
  position: relative;
  font-size: 24px;
  line-height: 35px;
  font-family: 'Playfair Display', serif;
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 27px;
}
.footer-content .service-widget .list li{
  display: block;
  margin-bottom: 12px;
}
.footer-content .service-widget .list li a{
  position: relative;
  display: inline-block;
  color: #9ea0a9;
}
.footer-content .service-widget .list li a:hover{
  color: #ff5e14;
}
.footer-content .contact-widget p{
  color: #9ea0a9;
  margin-bottom: 15px;
}
.footer-content .contact-widget{
  margin-left: 90px;
}
.footer-content .contact-widget .footer-title{
  margin-bottom: 29px;
}

/* Stylish button */

.btn42 {
  border: 5em;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  -webkit-transform: translate(0);
  transform: translate(0);
  background-image: linear-gradient(45deg, #4568dc, #b06ab3);
  padding: 1.2em 4em;
  border-radius: 80px;
  box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
  -webkit-transition: box-shadow 0.25s;
  transition: box-shadow 0.25s;
  color: white;
}
.btn42:after {
  content: "";
  border-radius: 80px;
  position: absolute;
  margin: 4px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  background: #0e0e10;
}
.btn42:hover {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
  box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
}
.btn42:hover .text {
  background-image: linear-gradient(-45deg, #4568dc, #b06ab3);
}