@tailwind base;
@tailwind components;
@tailwind utilities;
.place::placeholder {
  font-weight: 500;
    opacity: .5;
    color: rgb(63, 71, 67);
}
.bg15{
  color: rgb(28, 28, 28);
}

/* navbar*/
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}
.container {
  max-width: 1200px;
  width: 90%;
  margin: auto;
}
.navbar {
  position: fixed;
  width: 100%;
  backdrop-filter: blur(2px) saturate(94%);
  -webkit-backdrop-filter: blur(2px) saturate(94%);
  border: 1px solid rgba(209, 213, 219, 0.3);
  color: rgb(146, 235, 30);
  opacity: 0.85;
  z-index: 100;
}
.navbar-container {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  height: 62px;
  align-items: center;
}
.menu-items {
  order: 2;
  display: flex;
}
.logo {
  order: 1;
  font-size: 2rem;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1.3rem;
}

.navbar a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease-in-out;
}

.navbar a:hover {
  color: #00ff00;
}

@media (max-width: 768px) {
  .navbar {
    opacity: 0.95;
  }

  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }

  .navbar-container {
    display: block;
    position: relative;
    height: 64px;
  }

  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .navbar-container .hamburger-lines {
    display: block;
    height: 2px;
    width: 35px;
    position: absolute;
    top: 20px;
    left: 20px;
    margin-top: 10px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .navbar-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 1px;
    background: #333;
  }

  .navbar-container .hamburger-lines .line1 {
    width: 10px;
    margin-top: 5px;
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }

  .navbar-container .hamburger-lines .line2 {
    transform-origin: 0% 0%;
    margin-top: 5px;
    transition: transform 0.2s ease-in-out;
  }

  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line4 {
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu-items {
    padding-top: 100px;
    height: 100vh;
    max-width: 200px;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -120px;
    margin-top: -20px;
    padding-left: 20px;
    transition: transform 0.7s ease-in-out;
    overflow: scroll;
    backdrop-filter: blur(18px) saturate(118%);
    -webkit-backdrop-filter: blur(18px) saturate(110%);
    background-color: rgba(81, 110, 108, 0.685);
    border-radius: 1px;
    border: 1px solid rgba(209, 213, 219, 0.3);
  }

  .navbar .menu-items li {
    margin-bottom: 1.8rem;
    font-size: 1.1rem;
    font-weight: 500;
  }

  .logo {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 2.5rem;
  }

  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    margin-top: -0px;
    margin-left: -4px;
    transform: rotate(0deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line4 {
    transform: rotate(45deg);
    transform: translateX(-40px);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: rotate(90deg);
  }

  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    width: 10px;
    margin-left: -4px;
    transform: rotate(-90deg);
  }
}

@media (max-width: 500px) {
  .navbar-container input[type="checkbox"]:checked ~ .logo {
    display: none;
  }
}

.bg42 {
  width: 100%;
  height: 11vh;
  color: rgba(13, 16, 51, 0.9);
  background: -webkit-linear-gradient(0deg, rgba(218,232,234,0.91) 0, rgba(199,203,226,0.62) 70%, rgba(217,218,224,0.73) 94%, rgba(217,218,224,0.73) 100%), url("https://enjoycss.com/bg-img/custom/30952-1iwszzh.e7aj.jpg");
  background: -moz-linear-gradient(90deg, rgba(218,232,234,0.91) 0, rgba(199,203,226,0.62) 70%, rgba(217,218,224,0.73) 94%, rgba(217,218,224,0.73) 100%), url("https://enjoycss.com/bg-img/custom/30952-1iwszzh.e7aj.jpg");
  background: linear-gradient(90deg, rgba(218,232,234,0.91) 0, rgba(199,203,226,0.62) 70%, rgba(217,218,224,0.73) 94%, rgba(217,218,224,0.73) 100%), url("https://enjoycss.com/bg-img/custom/30952-1iwszzh.e7aj.jpg");
  background-position: 50% 50%, 35% 37%;
  -webkit-background-size: auto auto, cover;
  background-size: auto auto, cover;
}

.bg25 {
  width: 100%;
  height: 100%;
  background: -webkit-linear-gradient(-145deg, rgba(55,213,221,0.21) 0, rgba(11,15,25,0.48) 51%, rgba(56,27,42,0.25) 100%), url("https://images.wallpaperscraft.com/image/single/lamp_spiral_dark_background_118457_3840x2400.jpg");
  background: -moz-linear-gradient(235deg, rgba(55,213,221,0.21) 0, rgba(11,15,25,0.48) 51%, rgba(56,27,42,0.25) 100%), url("https://images.wallpaperscraft.com/image/single/lamp_spiral_dark_background_118457_3840x2400.jpg");
  background: linear-gradient(235deg, rgba(55,213,221,0.21) 0, rgba(11,15,25,0.48) 51%, rgba(56,27,42,0.25) 100%), url("https://images.wallpaperscraft.com/image/single/lamp_spiral_dark_background_118457_3840x2400.jpg");
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: auto auto, cover;
}

/*Header*/
.bgimage {
  height: 11vh;
  background-size: cover;
  position: relative;
}
.hero_title {
  font-size: 2.5rem;
}
.hero_desc {
  font-size: 2rem;
}
.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.btnn {
  padding: 10px 8px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}
.btnn:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowingbn5 20s linear infinite;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
  border-radius: 10px;
}
@keyframes glowingbn5 {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
.btnn:active {
  color: #000;
}

.btnn:active:after {
  background: transparent;
}

.btnn:hover:before {
  opacity: 0.3;
}
.btnn:after {
  z-index: -1;
  content: "";
  position: absolute;
  background: rgba(136, 136, 136, 0.651);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 10px;
}

/* Login form*/
.bx {
  box-shadow: inset 6px 8px 8px #4d4d4d,
    inset -8px -8px 8px 2px rgba(119, 119, 119, 0.486);
}
